/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
  background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
  background-image: radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}

body {
  height: auto;
  background: image-url('grid_noise.png') repeat;
  -webkit-overflow-scrolling: touch
}

html, body {height:100%;overflow:auto}

#wrapper {
  width: 100%;
  height: 100%;
  background: image-url('1300.jpg') no-repeat top center,
              image-url('1300f.jpg') no-repeat bottom center;
}

#st-trigger-effects {
  width: 100%;
  height:50px;
  padding: 3px 5px;
  box-shadow: 0px 1px 30px #5E5E5E;
  position: static;
  top:0px;
  background: #e67e22;
  overflow: visible !important;
  -webkit-backface-visibility:hidden; -webkit-transform: translateZ(0);
  #menu_btn {
    -webkit-backface-visibility:hidden; -webkit-transform: translateZ(0);
  }
}

img {
  max-width: 100%;
}

.t-r {
  text-align: right;
}
.t-c {
  text-align: center;
}

.inline > * {
  display: inline;
}

#footer {
  display: block;
//  width: 400px;
}

//###################  MENU  #########################

#menu {
  margin: 30px 0 0 0;
//  width: 80%;

  a, .btn-group a {
    @include gradient(#ffe11f, #fca612);
    color: #111;
    font-size: 1em;
    border-right: 1px solid #ffe11f;
    border-left: 1px solid #fca612;
    width: 100%;
    &:first-child {
      border-left: none;
    }
    &:hover {
      @include gradient(#ffee00, #fca612);
    }
  }

  .btn-group {
    width: 30%;
  }

}

.dropdown-menu {
  background: image_url('satinweave.png');
  text-shadow: 0 2px 1px #fff;
  left: -1000%;
  width: 1100%;
  padding: 18px 4px 4px 4px;
  text-align: left;
}


.menu-shadow {
  width: 100%;
  height: 13px;
  background: image_url('header_shadow.png') no-repeat center center;
  background-size: contain;
}




//###################  MENU  #########################


