@media only screen and (max-width: 991px) {
  #logo {
    text-align: center;
  }

  .t-c-small {
    text-align: center;
  }

  img[style*="float:left"] {
    width: 50% !important;
    height: auto !important;
  }


}